<div *ngIf="dataSource?.data; else loading">
  <div fxLayout="row wrap" fxLayoutAlign="left" fxLayoutGap="16px">

    <mat-form-field class="search-form-field" appearance="fill">
      <mat-label>Search</mat-label>
      <input matInput type="text" [(ngModel)]="search">
      <button *ngIf="search" matSuffix mat-icon-button aria-label="Search" (click)="doSearch()">
        <mat-icon>search</mat-icon>
      </button>
      <button *ngIf="search" matSuffix mat-icon-button aria-label="Clear" (click)="clearSearch()">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-form-field>

    <div class="filler"></div>

    <button mat-fab (click)="addTodo = true">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div *ngIf="addTodo" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="26px grid">
    <div fxFlex="20%">
      <add-todo (todoAdded)="todoAdded($event)" (cancelAdd)="addTodo = false"></add-todo>
    </div>
  </div>

  <div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="16px grid">
    <div fxFlex="20%" *ngFor="let todo of dataSource.data">
      <todo-card [todo]="todo" (todoDeleted)="todoDeleted($event)" (todoDone)="todoDone($event)"></todo-card>
    </div>
  </div>

  <mat-paginator #paginator [length]="totalItems" [pageIndex]="currentPage" [pageSize]="itemsPerPage"
    [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" aria-label="Select page">
  </mat-paginator>
</div>

<ng-template #loading>
  <em>Loading ...</em>
</ng-template>